version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "09:00"
    open-pull-requests-limit: 100
    labels:
      - "maintenance"
      - "dependencies"
    groups:
      pip:
        patterns:
          - "*"
    ignore:
      - dependency-name: "pydata-sphinx-theme"
    cooldown:
      default-days: 7
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "09:00"
    open-pull-requests-limit: 100
    labels:
      - "maintenance"
      - "dependencies"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
